<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="well well-sm">
        <form class="form-horizontal" novalidate name="loginForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <h1 class="well-title">Login</h1>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <h4>Login User</h4>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':loginForm.inputUserMail.$invalid &&
                                loginForm.inputUserMail.$dirty}">
                    <label class="col-md-2 control-label" for="inputUserMail">Email</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputUserMail"
                               name="inputUserMail"
                               type="email"
                               placeholder="Email"
                               ng-model="user.username"
                               required />
                    </div>
                    <span class="has-error">
                        <span ng-show="loginForm.inputUserMail.$error.required">
                            Email is required.
                        </span>
                        <span ng-show="loginForm.inputUserMail.$error.email">
                            Not valid email.
                        </span>
                    </span>
                </div>
                <div class="form-group"
                     ng-class="{'has-error':loginForm.inputPassword.$invalid &&
                                loginForm.inputPassword.$dirty}">
                    <label class="col-md-2 control-label" for="inputPassword">Password</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputPassword"
                               name="inputPassword"
                               type="password"
                               placeholder="Password"
                               ng-model="user.password"
                               required
                               ng-minlength="6" />
                    </div>
                    <span class="has-error">
                        <span ng-show="loginForm.inputPassword.$error.required">
                            Password is required.
                        </span>
                        <span ng-show="loginForm.inputPassword.$error.minlength">
                            Password must be at least 6 characters in length.
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button ng-click="vm.login(user, loginForm)" ng-disabled="loginForm.$invalid" class="btn">Login</button>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="vm.message">
                    <div class="col-md-6">
                        <pre style="font: inherit">{{vm.message}}</pre>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>